.mat-mdc-progress-spinner { 
    --mdc-circular-progress-active-indicator-color: rgb(228, 10, 10);
    position: absolute;
    top: 50%;
    left: 50%;
}

:root {
    --Movie-Red: #ff0000;
    --Movie-Black: #000000;
}

a{
    text-decoration: none; 
    color: inherit; 
}



p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

body{
    background: linear-gradient(to right,#000000,#8B0000, #8B0000, #000000);
    color: transparent;
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    color: white;
    margin: 0;
    padding: 0; 
}

html[dir=rtl] .Main-Text {
    padding-left: 0px;
    padding-right: 120px;
}

html[dir=rtl] .have-account{
    margin-right: 0px; ;
    margin-left: 0.5rem;
}

html[dir=rtl] .movie-image{
    margin-right: 0px;
    margin-left: 20px;
}


.gradient-custom-2 {
    background: #fccb90;
    
    background: -webkit-linear-gradient(to right, #ec1616, #000000, #ff0707, #111011);
    
    background: linear-gradient(to right, #FF0000, #8B0000, #000000);
}

.gradient-text {
    background: linear-gradient(to right, #FF0000, #8B0000, #000000);
    -webkit-background-clip: text;
    color: transparent;
}


.gradient-form {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 50px 0;
}


.error-message{
    color: #FF0000;
}

.authentication-invalidInputField {
    border: 1px solid red;
}

.authentication-validInputField {
    border: 1px solid rgb(30, 255, 0);
}
