<!DOCTYPE html>
<html>
<body>
    <section class="h-100 gradient-form">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">

                                    <h3 class="mt-1 mb-5 pb-1 movie-title"><span
                                            class="gradient-text"><b><i>{{movieDetail?.original_title}}</i></b> </span>
                                    </h3>

                                    <div>
                                        <p class="gradient-text movie-card-details"><b>{{"Release" |
                                                translate}}</b><span class="gradient-text"
                                                style="color: var(--Movie-Black);"><b>{{movieDetail?.release_date}}</b></span>
                                        </p>

                                        <p class="gradient-text movie-card-details"><b>{{"Rating" | translate}}:
                                            </b><span><b>{{movieDetail?.vote_average}}</b></span></p>

                                        <p class="gradient-text descTranslation movie-card-details" *ngIf="isArabic;">
                                            <b>{{"Description" | translate}}: </b><span
                                                style="color:  var(--Movie-Black);"><b>{{movieDetailAr?.overview}}</b></span>
                                        </p>

                                        <p class="gradient-text descTranslation movie-card-details" *ngIf="!isArabic;">
                                            <b>{{"Description" | translate}}: </b><span
                                                style="color:  var(--Movie-Black);"><b>{{movieDetail?.overview}}</b></span>
                                        </p>

                                    </div>
                                    <div class="flex-container" style="padding-top: 30px;">
                                        <button type="button" class="btn btn-outline-danger"
                                            style="margin-right: 30px;">Watch Trailer</button>
                                        <button type="button" class="btn btn-outline-success">Watch Now</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">

                                <div class="image-container">
                                    <img src="{{'https://image.tmdb.org/t/p/original' + movieDetail?.poster_path}}"
                                        alt="Image">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>