.image-container {
    width: 100%;
    height: 100%; 
}

.image-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.movie-title{
    padding-top: 0px; 
    text-decoration: underline; 
    text-align: center;
}

.movie-card-details{
    font-size: large;
}