<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Rated Movies</title>
</head>

<body>    
    <div class="container">
        <h1 class=" movie-details-header"><b><i>{{"Top Movies" | translate}}</i></b></h1>
            <a [routerLink]="['movieDetails',movie.id]" *ngFor="let movie of movies?.results"
                class="movie-container" >
                <div class="movie-image">
                    <img src="{{movieImage+ movie.poster_path}}" alt="Movie 1">
                </div>
                <div class="movie-details" id="movie-details">
                    <h3>{{movie.title}}</h3>
                    <p class="movie-details-text">{{"Release" | translate}}:
                        {{movie.release_date}}</p>
                    <p class="movie-details-text-rating">{{"Rating" | translate}}: {{movie.vote_average}}
                    </p>
                </div>
            </a>

       






    </div>

</body>

</html>