.bg-black {
    background-color: black;
}

.text-white {
    color: white;
}

.navbar {
    border-bottom: 5px solid var(--Movie-Red);

}

.header-title {
    padding-left: 8px;
    font-size: x-large;
    font-weight: bold;
    color: var(--Movie-Red);
}

.btn-outline-danger {

    color: var(--Movie-Red);
}

/* Add this CSS to display the "Ar" and "En" buttons side by side when navbar is collapsed */
@media (max-width: 1000px) {
    .navbar-nav.ml-auto {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .navbar-toggler.collapsed + .navbar-collapse .navbar-nav.ml-auto {
        display: none;
    }
}
